* {
	margin: 0;
	padding: 0;
}

body {
	background-color: darkgray;
	font-family: 'Poppins', sans-serif;
}

main {
	width: 1200px;
	max-width: 90%;
	margin: 0 auto;
	/* border: 2px solid gray; */
}

section {
	background-color: wheat;
	padding: 1em;
	margin: 1em;
	border-radius: 10px;
}

.section-title {
	color: blue;
}

.top-players,
.blogs,
.courses {
	display: grid;
	grid-gap: 30px;
	margin-top: 20px;
	place-items: center;
}

.top-players,
.courses {
	grid-template-columns: repeat(3, 1fr);
}

.blogs {
	grid-template-columns: repeat(2, 1fr);
}

.player,
.blog {
	display: flex;
	align-items: center;
}

.player img {
	margin-right: 20px;
	height: 50px;
}

.thumbnail img {
	margin-right: 20px;
	width: 100px;
}

.course img {
	width: 200px;
}

.filled {
	color: goldenrod;
	font-size: 0.8em;
}

.unfilled {
	color: lightgray;
	font-size: 0.8em;
}

.course-info {
	display: flex;
}
@media (max-width: 992px) {
	.top-players,
	.courses {
		grid-template-columns: repeat(2, 1fr);
	}

	.blogs {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 688px) {
	.top-players,
	.courses {
		grid-template-columns: repeat(1, 1fr);
	}

	.blog {
		display: block;
	}
}
